.signupfrom {
    background:  white;
    border: 1px  solid gray;
    padding :30px;
    margin: 50px auto;
}
.signupfrom h1 {
    text-indent: -9999px;
    background: url(https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png);
 background-position: -97px 0px;
    width:176px;
    height: 52px;
    text-align: center;
    margin: 0 auto;
}